{% load static %}
    <hr class="linha">
    <div class="rodape">
        <div class="logo-rodape">
            <img src="{% static 'img/logo.png' %}" alt="Logo Balanço Senac">
            <p>R. Alm. Tefé, 680 - Centro, Niterói - RJ, 24030-085</p>
            <p>&copy; Balanço Senac</p>
        </div>
      <div class="links-rodape">
        <div>
          <h4>Menu</h4>
          <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
        <div>
          <h4>Empresa</h4>
          <ul>
            <li><a href="#">A Empresa</a></li>
            <li><a href="#">Carreras</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div>
          <h4>Descubra</h4>
          <ul>
            <li><a href="#">Nosso Time</a></li>
            <li><a href="#">Nossa Historia</a></li>
            <li><a href="#">Nosso Lema</a></li>
          </ul>
        </div>
        <div>
          <h4>Redes Sociais</h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">X / Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
